<h4>Post details:</h4>

<p>
	<%= @row['content'] %>
	<br />
	<br />		
	Added at: <%= @row['created_date'] %>
</p>
<br />
<h4>Comments:</h4>
<p>
    <form action='/details/<%= @row['id'] %>' method="POST">
      <div class="form-floating">
        <textarea name="content" class="form-control" rows="6" placeholder="Type comment text here" id="floatingTextarea"></textarea>
        <br />
      </div>
      <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
  </p> 