  <h2>Add New Post</h2>
  <p>
    <form action='/new' method="POST">
      <div class="form-floating">
        <textarea class="form-control" rows="6" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <br />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </p> 

